
/* Контейнер для выравнивания */
.pageContainer {
    min-height: 100vh;              
    display: flex;
    align-items: center;             
    justify-content: center;         
}

/* Центральный блок с контентом */
.contentBody {
    width: 80%;
    max-width: 70vw;
    min-height: 90vh;              
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
}