.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
  height: 50px;
}

.nav {
  flex-grow: 1;
}

/* выравниваем элементы списка по центру */
.navList {
  display: flex;
  gap: 10px;
  align-items: center; /* <-- важно */
}

/* на всякий случай выровняем контент внутри каждого li */
.navList li {
  display: flex;
  align-items: center;
}

/* нормализуем кнопку под ссылку */
.navList a,
.navList button {
  display: inline-flex; /* чтобы контент центрировался по вертикали */
  align-items: center;
  line-height: 1; /* убираем разные бейслайны */
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  border: solid 1px #00000061;
  padding: 10px;
  transition: background-color 0.1s ease;
  font-size: 20px;
  cursor: pointer;
}

.navList a:hover,
.navList button:hover {
  background-color: rgb(235, 235, 235);
}

.logoText {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Выберите нужную жирность, например, 700 */
  font-style: normal;
  font-size: 40px; /* Задайте размер по необходимости */
  margin-left: 20px;
  user-select: none;
  -webkit-user-select: none; /* Safari/iOS */
  -moz-user-select: none; /* Firefox (обычно не нужен) */
  -ms-user-select: none; /* старый Edge/IE */
  -webkit-touch-callout: none; /* отключить вызов меню по долгому тапу на iOS */
  cursor: default;
}
